.header_container {
    position:absolute;
    padding: 6px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.header_title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e5e5e5;
    margin-left: 4vw;
}

.header_pagination {
    margin-left: auto;
    margin-right: 4vw;
    color: #e5e5e5;
}