.navlink {
    font-size: 1.2vw;
    color: #e5e5e5;
    text-decoration:none;
    margin:10px;
    transition:.1s;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}
.active {
    color:white;
    font-weight: bold;
    transition:.1s;
}
