.navbar {
    z-index: 3;
    position:fixed;
    background-color: transparent;
    height: 70px;
    width: 100vw;
    display:flex;
    align-items: center;
    transition: .3s;
}
.navbar_solid {
    z-index: 3;
    position:fixed;
    height: 70px;
    width: 100vw;
    display:flex;
    align-items: center;
    transition: .3s;

    background-color: #121212;
}
