.navbar {
    z-index: 99;
    position:fixed;
    background-color: transparent;
    height: 70px;
    width: 100vw;
    display:flex;
    align-items: center;
    transition: .3s;
    padding:40px;
}
.navbar_solid {
    z-index: 99;
    position:fixed;
    height: 70px;
    width: 100vw;
    display:flex;
    align-items: center;
    transition: .3s;
    padding:40px;

    background-color: #121212;
}
