.banner {
    display:flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_loading {
    display:flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #222222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-name: banner_loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes banner_loading {
    0% {
        background-color: #222222;
    }
    50% {
        background-color: #171717;
    }
    100% {
        background-color: #222222;
    }
}

/* .video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.video_filter {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 35%) 10%, 70%,rgb(0 0 0 / 80%) 90%) ;
    opacity: 0.5;
    z-index: 1;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
} */

.content {
    z-index: 1;
    align-self: flex-end;
    margin-left: 5.3vw;
    margin-bottom: 140px;
    height: auto;
    width: 35%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.logo {
    max-height:230px;
    width: auto;
    margin-bottom:10px;
    margin: 0 auto;
}

.banner_content_text_h1 {
    user-select: none;
    margin: 0;
    color: #fff;
    line-height: normal;
    width: 100%;
    font-size: 3vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.banner_content_text_p {
    user-select: none;
    margin: 0;
    color: white;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.2vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.buttons {
    position: relative;
    display: flex;
    z-index: 2;
}