.banner-content-text h1 {
    user-select: none;
    margin:0;
    color: #fff;
    line-height: normal;
    width: 100%;
    font-size: 3vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.banner-content-text p {
    user-select: none;
    margin:0;
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.2vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}
