.slider_container {
  position:relative;
  width:99vw;
  bottom: 70px;
  
  overflow: hidden;

  margin: 0 auto 80px auto;

  cursor: pointer;
  user-select: none;
}

.item_content {
  width: 98%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 91, 25);
}
.btn {
  color: white;
  font-size: 6vw !important;
}

/* .hiden_modal_container {
  z-index:99;
  position: absolute;
  width: 100%;
  height: 100%;
  color:red;
  background-color: rgba(240, 235, 235, 0.5);
  border: solid green 1px;
}

.hiden_modal_top {
  border: solid yellow 1px;
}

.hiden_modal_bottom {
  border: solid blue 1px;
} */

